flows.json
[{"id":"1ead7660.c7189a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"1ead7660.c7189a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"good morning","payloadType":"str","x":131,"y":61,"wires":[["ecbdbe0a.d1d2e"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"1ead7660.c7189a","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"ecbdbe0a.d1d2e","type":"watson-conversation-v1","z":"1ead7660.c7189a","name":"","workspaceid":"4b36ea93-a9dd-4b2c-bce4-6906f1e50ce0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c1b6103d-47b6-4ed6-8859-49383b32512f","timeout":"","optout-learning":false,"x":370,"y":220,"wires":[["89f775a4.2da7f8","f2f2649a.0d0d98"]]},{"id":"89f775a4.2da7f8","type":"function","z":"1ead7660.c7189a","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":340,"wires":[["f7b8484b.9267d8","8c6e055a.2dee38"]]},{"id":"8c6e055a.2dee38","type":"debug","z":"1ead7660.c7189a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":220,"wires":[]},{"id":"26a55d4b.d393b2","type":"ui_form","z":"1ead7660.c7189a","name":"","label":"","group":"eff35eef.13f5c","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"","type":"text","required":true,"rows":null}],"formValue":{"":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":50,"y":380,"wires":[["c8e5d31d.58a6c"]]},{"id":"c8e5d31d.58a6c","type":"function","z":"1ead7660.c7189a","name":"","func":"msg.payload = msg.payload[\"\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":280,"wires":[["ecbdbe0a.d1d2e"]]},{"id":"f7b8484b.9267d8","type":"ui_text","z":"1ead7660.c7189a","group":"eff35eef.13f5c","order":1,"width":0,"height":0,"name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":420,"wires":[]},{"id":"eff35eef.13f5c","type":"ui_group","name":"shop bot","tab":"9287564f.597c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"9287564f.597c98","type":"ui_tab","name":"talk to your bot","icon":"dashboard","disabled":false,"hidden":false}]